#title{

        font-family: 'Lobster';
        font-size: 100px;

    }
#chat{
        
      
        margin-left: 650px;
        margin-top: 50px;
        
    }

    .draft{


    width:150px;
    height: 20px; 

    }